body {
    height: 100vh;
    background-color: #FDE74C;
}

#content {
    height: 86vh;
    margin-top: 17%;
}

/* .page-title {
    padding-top: 10%;
} */

/* .form-section {
    text-align: center;
} */

/* #add-activity-button {
    width: 30%;
    margin-top: 5%;
}

#log-activity-details {
    width: 80%;
} */

/* .color-block {
    display: grid;
    background: white;
    grid-column: 2;
    grid-row: 1 / 5;
    grid-template-columns: 25% 25% 25% 25%;
}

.color-block-orange {
    display: block;
    background: #E4572E;
    grid-column: 1;
}

.color-block-blue {
    display: block;
    background: #5BC0EB;
    grid-column: 2;
}

.color-block-green {
    display: block;
    background: #9BC53D;
    grid-column: 3;
}

.color-block-red {
    display: block;
    background: #C3423F;
    grid-column: 4;
} */





