#content {
    display: block;
    justify-content: center;
}

h1 {
    text-align: center;
    justify-content: center;
    font-size: 250%;
    margin-top: 10%;
    background-color: #211A1E;
    color: white;
    width: 80%;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 10%;
}

li {
    color: white;
    margin: 3% 0;
    font-size: 150%;
}
