#content {
    display: block;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 250%;
    margin-top: 10%;
}

ul {
    margin: 10%;
}

li {
    color: white;
    margin: 3% 0;
    font-size: 150%;
}
