body {
    background: #FDE74C;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 7% 86% 7%;
}

/* .color-block {
    display: grid;
    grid-column: 2;
    grid-row: 1 / 4;
    grid-template-columns: 25% 25% 25% 25%;
}

.color-block-orange {
    display: block;
    background: #E4572E;
    grid-column: 1;
}

.color-block-blue {
    display: block;
    background: #5BC0EB;
    grid-column: 2;
}

.color-block-green {
    display: block;
    background: #9BC53D;
    grid-column: 3;
}

.color-block-red {
    display: block;
    background: #C3423F;
    grid-column: 4;
} */

#list-of-streaks {
    display: grid;
    /* grid-row: 2; */
    /* height: 100%; */
    overflow-y: scroll;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-top: 10%;
    padding-bottom: 20%; */
}

/* ul {
    padding: 0;
} */

.list-group-item {
    display: grid;
    grid-template-columns: 35% 70%;
    justify-items: center;
    background-color: #FDE74C;
    height: 6em;
    border: none;
    align-items: center;
}

.streak-count {
    display: block;
    grid-column: 1;
    clip-path: circle(50%);
    border: none;
    background-color: white;
    width: 5em;
    height: 5em;
}

.streak-title {
    /* display: block; */
    grid-column: 2;
    margin-bottom: 0;
}

#no-streaks-notice {
    display: none;
}

.streak-title {
    justify-self: start;
}