body {
    background: #FDE74C;
    width: 100vw;
    height: 100vh;
}

#content {
    text-align:center;
    padding-top: 15%;
}

#list-of-streaks {
    display: grid;
    /* grid-row: 2; */
    /* height: 100%; */
    overflow-y: scroll;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-top: 10%;
    padding-bottom: 20%; */
}

.list-group-item {
    display: grid;
    grid-template-columns: 35% 70%;
    justify-items: center;
    background-color: #FDE74C;
    height: 6em;
    border: none;
    align-items: center;
}

.streak-count {
    display: block;
    grid-column: 1;
    clip-path: circle(50%);
    border: none;
    background-color: white;
    width: 5em;
    height: 5em;
}

.streak-title {
    /* display: block; */
    grid-column: 2;
    margin-bottom: 0;
}

#no-streaks-notice {
    display: none;
}

.streak-title {
    justify-self: start;
}

