nav {
    background-color: #211A1E;
    color: white;
}

.navbar-top {
    display: grid !important;
    grid-template-columns: 15% 10% 50% 25%;
    padding-left: 2%;
}

.color-block-nav {
    display: grid;
    background: white;
    grid-column: 4;
}

.navbar-toggler {
    width: 3em;
}

#logo {
    justify-self: center;
    grid-column: 3;
    height: auto;
    width: 100%;
}


.footer {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    width: 100vw;
    justify-items: center;
}

.footer-icon {
    color: white;
}