body {
    background-color: #FDE74C;
}

nav {
    background-color: #211A1E;
    color: white;
    display: block;
}

.navbar-top {
    display: grid !important;
    grid-template-columns: 15% 10% 50% 25%;
    padding-left: 2%;
}

/* .collapse {
    padding-top: 15%;
} */


.navbar-toggler {
    width: 3em;
}

#logo {
    justify-self: center;
    grid-column: 3;
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.current-page {
    background-color: rgb(71, 71, 71);
}

.nav-links {
    width: 100%;
}