#profile-picture-image {
    display: block;
    border-radius: 50%;
    margin: auto;
    width: 50%;
}

h1, h6 {
    text-align: center;
}

.sidebar-section {
    margin-top: 10%;
}

.sidebar-button {
    display: block;
    margin-left: 7%;
    margin-top: 5%;
    width: 85%;
    font-size: 225%;
}

#top-button-bar {
    display: block;
    margin-left: 79%;
    margin-top: 7%;
}

body {
    padding-bottom: 10%;
}