
body{
    display: grid;
    grid-template-rows: 12% 80% 5%;
    height: 100vh;
    background-color: black;
}

.profile-container {
    display: grid;
    width: 100vw;
    background: #FDE74C;
    grid-template-columns: 10% 65% 25%;
    grid-row: 2;
}

.sidebar-section {
    display: grid;
    grid-column: 3;
    padding: 10%;
    grid-template-rows: 25% 25% 25% 25%;
    font-size: auto;
    gap: 1%;
    font-size: 35px;
    color: white;

}

.profile-section{
    display: grid;
}

.friends-button {
    display: flex;
    background-color: #211A1E;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.streaks-button {
    display: flex;
    background-color: #211A1E;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.achievement-button {
    display: flex;
    background-color: #211A1E;
    grid-row: 3;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.active-challenges-button {
    display: flex;
    background-color: #211A1E;
    grid-row: 4;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}


.profile-img {
    display: block;
    height: 25%;
}

.text-box {
    display: block;
    height: 500px;
}

.arrow-icon{
    color: #211A1E;
    margin-left: 50%;
    margin-top: 50%;
}

.profile-picture {
    background-color: rgb(255, 255, 255);
    grid-column: 2;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    justify-self: center;
    margin-top: 2%;
}

.profile-info {
    display: block;
    grid-column: 2;
    justify-self: center;
}