#content {
    display: grid;
    background: #FDE74C;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 5% 10% 10% 60% 10%;
    height: 82.3vh;
}

.square-background {
    display: grid;
    background: white;
    grid-column: 4;
    grid-row: 1 / 5;
}

.form-section {
    display: block;
    text-align: center;
}

#add-activity-button {
    display: block;
    width: 75%;
    grid-row: 3;
}

.typing-input {
    width: 100%
}

.color-block {
    display: grid;
    background: white;
    grid-column: 2;
    grid-row: 1 / 5;
    grid-template-columns: 25% 25% 25% 25%;
}

.color-block-orange {
    display: block;
    background: #E4572E;
    grid-column: 1;
}

.color-block-blue {
    display: block;
    background: #5BC0EB;
    grid-column: 2;
}

.color-block-green {
    display: block;
    background: #9BC53D;
    grid-column: 3;
}

.color-block-red {
    display: block;
    background: #C3423F;
    grid-column: 4;
}





