body {
    background: #FDE74C;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 10% 80% 10%;
}

#content {
    display: grid;
    height: 80.4vh;
    grid-template-rows: 100%;
    grid-template-columns: 5% 10% 5% 80% ;
}

.color-block {
    display: grid;
    background: white;
    grid-column: 2;
    grid-template-columns: 25% 25% 25% 25%;
}

.color-block-orange {
    display: block;
    background: #E4572E;
    grid-column: 1;
}

.color-block-blue {
    display: block;
    background: #5BC0EB;
    grid-column: 2;
}

.color-block-green {
    display: block;
    background: #9BC53D;
    grid-column: 3;
}

.color-block-red {
    display: block;
    background: #C3423F;
    grid-column: 4;
}

#list-of-streaks li {
    display: grid;
    grid-template-rows: auto;
    background: rgb(255, 255, 255);

}

ul {
    padding: 0;
    grid-column: 4;
    grid-row: 1 / 3;
}

li {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
}

#no-streaks-notice {
    display: none;
}

.streak-title {
    justify-self: start;
}