
#top-button-bar {
    display: flex;
    justify-content: end;
    padding: 5%;
}

#activity-log {
    margin: 10%;
}

#table-log-of-activities {
    background-color: #fff18b;
    border: 1px solid black;
}